In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('PIMA.csv')

In [29]:
len(df.columns)

9

In [30]:
df.shape

(2000, 9)

In [31]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0
...,...,...,...,...,...,...,...,...,...
1995,2,75,64,24,55,29.7,0.370,33,0
1996,8,179,72,42,130,32.7,0.719,36,1
1997,6,85,78,0,0,31.2,0.382,42,0
1998,0,129,110,46,130,67.1,0.319,26,1
1999,2,81,72,15,76,30.1,0.547,25,0

In [32]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [33]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [34]:
df.drop(['DiabetesPedigreeFunction'], axis = 1, inplace=True)

In [35]:
df['BloodPressure'].loc[(df['BloodPressure'] <= 30)] = np.nan
df['Glucose'].loc[(df['Glucose'] <= 45)] = np.nan

C:\Users\Satyam\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\Satyam\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [36]:
df['Glucose'].replace(to_replace=np.nan, value =df['Glucose'].mean(), inplace = True)
df['BloodPressure'].replace(to_replace=np.nan, value =df['BloodPressure'].mean(), inplace = True)

In [37]:
df.head(345)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,2,138.000000,62.00000,35,0,33.6,47,1
1,0,84.000000,82.00000,31,125,38.2,23,0
2,0,145.000000,72.52126,0,0,44.2,31,1
3,0,135.000000,68.00000,42,250,42.3,24,1
4,1,139.000000,62.00000,41,480,40.7,21,0
...,...,...,...,...,...,...,...,...
340,1,130.000000,70.00000,13,105,25.9,22,0
341,1,95.000000,74.00000,21,73,25.9,36,0
342,1,122.053904,68.00000,35,0,32.0,22,0
343,5,122.000000,86.00000,0,0,34.7,33,0
344,8,95.000000,72.00000,0,0,36.8,57,0

In [38]:
df.isnull().sum()

Pregnancies      0
Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
Age              0
Outcome          0
dtype: int64

In [39]:
# (df['SkinThickness'] == 0).sum()

In [40]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [41]:
# X.drop('DiabetesPedigreeFunction',axis = 1,inplace=True)

In [42]:
X

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  Age
0               2    138.0       62.00000             35        0  33.6   47
1               0     84.0       82.00000             31      125  38.2   23
2               0    145.0       72.52126              0        0  44.2   31
3               0    135.0       68.00000             42      250  42.3   24
4               1    139.0       62.00000             41      480  40.7   21
...           ...      ...            ...            ...      ...   ...  ...
1995            2     75.0       64.00000             24       55  29.7   33
1996            8    179.0       72.00000             42      130  32.7   36
1997            6     85.0       78.00000              0        0  31.2   42
1998            0    129.0      110.00000             46      130  67.1   26
1999            2     81.0       72.00000             15       76  30.1   25

[2000 rows x 7 columns]

In [43]:
y

0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Outcome, Length: 2000, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [45]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [46]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [47]:
y_pred = classifier.predict(X_test)

In [48]:
type(y_pred)

numpy.ndarray

In [49]:
type(y_test)

pandas.core.series.Series

In [50]:
from sklearn.metrics import confusion_matrix, accuracy_score
accuracy_score(y_test, y_pred)

0.948

In [51]:
from sklearn.metrics import fbeta_score
fbeta_score(y_test, y_pred, average='macro', beta=0.5)

0.9457928537614368

In [52]:
import pickle
with open('Model_wo_DPF.pkl','wb') as f:
    pickle.dump(classifier,f)